<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/style.css" rel="stylesheet" type="text/css">
    <title>Add location</title>
</head>

<body>
    <div class="locationForm">
        <main>
            <form action="/location/createLocation" method="POST">
                <!-- the name property in the input element is the one sent in the req.body -->
                <label for="name">Name:</label><br>
                <input type="text" name="name"><br>  
                <label for="Longitude">Longitude:</label><br>
                <input type="text" name="longitude"><br>
                <label for="Latitude">Latitude:</label><br>
                <input type="text" name="latitude"><br>
                <p><button type="submit"> Create location</button></p>
            </form>
        </main>
    </div>
</body>

</html>